body{
  background-color: #f5f5f5 !important;
	color:black !important;
  font-family: 'Merriweather Sans', sans-serif;
}

a {
  text-decoration:none !important;
  color:black !important;
}

.fill { 
  min-width: 100%;
  width: 100%;
}

.item{
  height: 60px;
  line-height: 60px;
}
.num{
	font-size: 50px;
	background-color: #9B9B00;
	color: #FFFF00;
}

.text{

}
.image{
	background-size:cover !important;
	height: auto !important;
}
.hrow{
	display: table;
	margin-bottom: 0px;
  margin-top:-2px;
  height:100px;
}
.hcell{
	float: none;
	display: table-cell;
  left:-1px;
  padding:10px;
}
.sub{
	display: none;
}
.head-text {
	font-size: 18px;
	font-style: bold;
}
.border{
	border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px;
  border-color: #111;
  border-style: solid;
}

.text-header {
  font-size:25px;
	color:black;
  height:62px;
  background-color:#FFFF00;
  border-bottom: 3px;
  border-color: #111;
  border-style: solid;
}
.text-header h3 {
  margin-top: 16px;
  font-weight: 800;
  text-transform: uppercase;
  margin-left: 7px;  
}

	
