body{
  background-color: #FFFFFF;
  background: -moz-linear-gradient(top,  #333,  #444);
  background-image: linear-gradient(top,  #333,  #444);
  background-image: -o-linear-gradient(top,  #333,  #444);
  background-image: -moz-linear-gradient(top,  #333,  #444);
  background-image: -webkit-linear-gradient(top,  #333,  #444);
  background-image: -ms-linear-gradient(top,  #333,  #444);
	color:white !important;
}
.item{
  height: 60px;
  line-height: 60px;
}
.num{
	font-size: 50px;
	background-color: gray;
	color: white;
}
.text{

}
.image{
	background-size:cover !important;
	height: auto !important;
}
.hrow{
	display: table;
	margin-bottom: 0px;
  height:100px;
}
.hcell{
	float: none;
	display: table-cell;
}
.sub{
	display: none;
}
.head-text {
	font-size: 18px;
	font-style: bold;
}
.border{
	border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px;
  border-color: gray;
  border-style: solid;
}
	
